.rtl,[dir="rtl"] {
    
	body:not(.path-user) {
        nav.tabs {
            left: 30px;
            right: auto;
        }
    }
    .toast-wrapper {
        .toast {
            right: auto;
            left: 0;
            transform: translateX(-1500px);
            &.hide {
                animation: slide-out-rtl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
    
            &.show {
                animation: slide-in-rtl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            .toast-header {
                &::before {
                    margin-right: auto;
                    margin-left: 16px;
                }
            }
    
        }
      }
}