{% set background_attributes = create_attribute(background_attributes) %}
<div {{background_attributes.addClass('blazy-background')}} ></div>
<div {{attributes.addClass('blazy-loader')}}></div>
{{children}}