$green: #74a333;
.seeds-toolbar.toolbar-fixed {
    .toolbar-tray-horizontal {
        .toolbar-icon-admin-toolbar-tools-help {
            &:before {
                background-image: url('../images/seeds.svg');
                width: 25px;
            }
            &:hover {
                &:before {
                    background-image: url('../images/seeds-white.svg');
                }
            }
        }
        a {
            &:active,
            &:hover,
            &:focus {
                background: $green;
                color: #fff !important;
            }
        }
        ul {
            box-shadow: none !important;
            li {
                border-bottom: none !important;
                &.menu-item--expanded {
                    &:hover {
                        >a {
                            background: $green;
                        }
                        .toolbar-icon-admin-toolbar-tools-help {
                            &:before {
                                background-image: url('../images/seeds-white.svg');
                            }
                        }
                        >.toolbar-box>a {
                            background: $green;
                        }
                    }
                    ul {
                        li {
                            &.menu-item:first-child {
                                border-top: 1px solid $green;
                                ;
                            }
                            &.menu-item--expanded {
                                &:after {
                                    content: url(../images/chevron-right.svg);
                                    width: 15px;
                                    height: 15px;
                                }
                                &:hover {
                                    &:after {
                                        content: url(../images/white-chevron-right.svg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .toolbar-menu {
            ul,
            .toolbar-handle {
                box-shadow: none !important;
            }
        }
    }
    .toolbar-tray-vertical {
        .toolbar-menu {
            ul {
                box-shadow: none;
            }
            a {
                &:hover,
                &:focus {
                    background: $green;
                }
            }
        }
    }
}

[dir="rtl"] {
    @import url('https://fonts.googleapis.com/css?family=Changa:400,700&subset=arabic');
    .seeds-toolbar.toolbar-fixed {
        .toolbar {
            font-family: 'Changa', sans-serif;
            .toolbar-bar .user-toolbar-tab {
                float: left;
            }
        }
    }
}