.view-media-browser .views-col {
  border: 10px solid #fff;
  cursor: pointer;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 10px;
}
.view-media-browser .views-col.checked {
  border-color: #74a333;
}
.view-media-browser .views-field-entity-browser-select {
  display: none;
}
.eb-tabs ul {
  margin-bottom: 20px;
}
.eb-tabs ul li a {
  color: #74a333;
}
.eb-tabs ul li.active {
  border-color: #74a333;
}
.entity-browser-form .button {
  color: #73a333;
  border: 2px solid #73a333;
  border-radius: 0px;
  background: none;
  text-shadow: none;
}
.entity-browser-form .button:hover,
.entity-browser-form .button:focus {
  background: #73a333;
  color: #fff;
}
.entity-browser-form .button.button--primary {
  background: #73a333;
  border-color: #5c8e23;
  border-radius: 0;
  color: #fff;
}
.entity-browser-form .button.button--primary:hover,
.entity-browser-form .button.button--primary:focus {
  background-color: #5c8e23;
}
.entity-browser-form img {
  max-width: 100%;
  height: auto;
  display: block;
}
.ui-dialog .ui-dialog-title {
  font-weight: 400;
  color: #a1cc5c;
}
