/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
/* line 2, ../scss/_overrides.scss */
body {
  margin-top: 0px;
}

/* line 7, ../scss/_overrides.scss */
.logo {
  width: 80px;
  margin: 15px 0px;
}

/* line 12, ../scss/_overrides.scss */
.navbar-toggle {
  width: 45px;
  height: 45px;
  padding: 8px 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  border: 0;
}
/* line 22, ../scss/_overrides.scss */
.navbar-toggle .icon-bar {
  display: block;
  position: absolute;
  left: 13px;
  height: 1px;
  margin: 0;
  width: 18px;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 35, ../scss/_overrides.scss */
.navbar-toggle .icon-bar:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
/* line 40, ../scss/_overrides.scss */
.navbar-toggle .icon-bar:nth-child(3) {
  top: 22px;
  transition: opacity .25s ease-in-out;
}
/* line 44, ../scss/_overrides.scss */
.navbar-toggle .icon-bar:nth-child(4) {
  top: 29px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
/* line 52, ../scss/_overrides.scss */
.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  top: 16px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 58, ../scss/_overrides.scss */
.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
  opacity: 0;
}
/* line 61, ../scss/_overrides.scss */
.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) {
  top: 29px;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 69, ../scss/_overrides.scss */
.navbar-toggle:focus, .navbar-toggle:hover {
  background-color: transparent;
}

/* line 76, ../scss/_overrides.scss */
header.navbar-default {
  border: 0;
  background-color: #73A331;
}
/* line 79, ../scss/_overrides.scss */
header.navbar-default .navbar-brand {
  font-size: 30px;
  line-height: 65px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  /* line 79, ../scss/_overrides.scss */
  header.navbar-default .navbar-brand {
    font-size: 26px;
    line-height: 50px;
  }
}

/* line 92, ../scss/_overrides.scss */
.footer {
  background: #474c55;
  color: #fff;
}

/* line 98, ../scss/_overrides.scss */
#login-box {
  max-width: 400px;
  background: #73A331;
  margin: 50px auto 0px auto;
  padding: 20px;
  color: #fff;
}
/* line 104, ../scss/_overrides.scss */
#login-box #login-box-top {
  text-align: center;
}
/* line 106, ../scss/_overrides.scss */
#login-box #login-box-top #login-logo {
  width: 70px;
  display: inline-block;
  margin: 0;
}
/* line 112, ../scss/_overrides.scss */
#login-box form {
  margin: 20px 0;
}
/* line 114, ../scss/_overrides.scss */
#login-box form input {
  border-radius: 0;
}
/* line 117, ../scss/_overrides.scss */
#login-box form .button {
  background: #ebc147;
  border-color: #ebc147;
  display: block;
  width: 100%;
  border-radius: 0;
  margin-top: 25px;
}
/* line 126, ../scss/_overrides.scss */
#login-box #login-box-bottom {
  text-align: center;
}
/* line 128, ../scss/_overrides.scss */
#login-box #login-box-bottom a {
  color: #fff;
}

/* line 135, ../scss/_overrides.scss */
.modal-dialog {
  margin: 0;
  width: auto;
}

/* line 140, ../scss/_overrides.scss */
.ui-dialog-off-canvas {
  overflow: scroll;
}

/* line 144, ../scss/_overrides.scss */
#drupal-off-canvas select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* line 149, ../scss/_overrides.scss */
.modal-open {
  overflow: scroll;
}

/* line 153, ../scss/_overrides.scss */
#drupal-off-canvas {
  top: 0 !important;
}
/* line 155, ../scss/_overrides.scss */
#drupal-off-canvas a {
  color: #ccc;
}
/* line 158, ../scss/_overrides.scss */
#drupal-off-canvas .glyphicon {
  display: none;
}
/* line 161, ../scss/_overrides.scss */
#drupal-off-canvas *,
#drupal-off-canvas *:not(div) {
  background: #333333;
}
/* line 165, ../scss/_overrides.scss */
#drupal-off-canvas .ui-resizable-s {
  display: none !important;
}
/* line 168, ../scss/_overrides.scss */
#drupal-off-canvas button.button {
  position: relative;
  height: auto;
  padding: 4px 20px;
  border: 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background 0.5s ease;
  background: #73A331;
  color: #fff;
  margin-top: 15px;
  display: block;
  width: 100%;
}
/* line 184, ../scss/_overrides.scss */
#drupal-off-canvas button.button:hover, #drupal-off-canvas button.button:focus {
  background: #ebc147;
  color: #fff;
}
