a {
  color: #73A333;
}
#branding {
  background: #333740;
}
#branding h1.page-title {
  color: #73A333;
}
table th.active {
  background: #73A333;
  color: #FFFFFF;
}
.vertical-tabs .vertical-tabs-list li a {
  color: #333740;
}
.vertical-tabs .vertical-tabs-list li.selected a {
  border-left: 3px solid #73A333;
}
.vertical-tabs .vertical-tabs-list li.selected a:hover,
.vertical-tabs .vertical-tabs-list li.selected a:focus,
.vertical-tabs .vertical-tabs-list li.selected a:active {
  border-left: 3px solid #73A333;
}
.vertical-tabs .field-group-tab fieldset {
  border-top: 3px solid #73A333;
}
fieldset {
  box-shadow: 0px -3px 0 #73a333;
}
fieldset.date-combo {
  border-top: 0px !important;
}
.style-checkboxes input[type=checkbox]:hover,
.style-checkboxes input[type=radio]:hover,
.style-checkboxes input[type=checkbox]:focus,
.style-checkboxes input[type=radio]:focus {
  border-color: #73A333;
}
.style-checkboxes input[type=checkbox]:checked,
.style-checkboxes input[type=radio]:checked,
.style-checkboxes input[type=checkbox]:disabled:checked,
.style-checkboxes input[type=radio]:disabled:checked {
  background: #73A333;
}
ul.primary li.active a {
  border-top: 3px solid #73A333;
}
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  border-top: 3px solid #73A333;
}
ul.action-links a {
  border: 2px solid #73A333;
}
