.thunder-seeds {
    .content-form__advanced-toggle,
    .content-form__advanced {
      &, &:active, &:hover, &:focus {
        background: $primary-color-darker;
      }
    }
    .content-form__advanced-toggle {
      &:active, &:hover, &:focus {
        background: $primary-color-dark;
        svg {
          path {
            fill: $primary-color-lightest;
          }
        }
      }
    }
    .entity-meta--advanced {
        details {
            border-top: 2px solid $primary-color-dark;
            border-bottom: 2px solid $primary-color-dark;
            &+details {
                border-top: 0;
            }
        }
    }
}

@include for-tablet-portrait-and-up {
    /* Fixed action bar */
    .thunder-seeds .content-form__actions {
        background: $primary-color-darker;
    }
}
