// Elemenets
body {
    margin-top: 0px;
}

// Blocks.
.logo {
    width: 80px;
    margin: 15px 0px;
}

.navbar-toggle {
    width: 45px;
    height: 45px;
    padding: 8px 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 0;
    .icon-bar {
        display: block;
        position: absolute;
        left: 13px;
        height: 1px;
        margin: 0;
        width: 18px;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(2) {
            top: 15px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 22px;
            transition: opacity .25s ease-in-out;
        }
        &:nth-child(4) {
            top: 29px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
    }
    &[aria-expanded="true"] {
        .icon-bar {
            &:nth-child(2) {
                top: 16px;
                left: 15px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:nth-child(4) {
                top: 29px;
                left: 15px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
    &:focus,
    &:hover {
        background-color: transparent;
    }
}

// Layouts
header.navbar-default {
    border: 0;
    background-color: $seeds-green;
    .navbar-brand {
        font-size: 30px;
        line-height: 65px;
        color: white;
        font-weight: normal;
        text-transform: uppercase;
        @media(max-width: 767px) {
            font-size: 26px;
            line-height: 50px;
        }
    }
}

.footer {
    background: #474c55;
    color: #fff;
}

// Style login page.
#login-box {
    max-width: 400px;
    background: $seeds-green;
    margin: 50px auto 0px auto;
    padding: 20px;
    color: #fff;
    #login-box-top {
        text-align: center;
        #login-logo {
            width: 70px;
            display: inline-block;
            margin: 0;
        }
    }
    form {
        margin: 20px 0;
        input {
            border-radius: 0;
        }
        .button {
            background: $seeds-yellow;
            border-color: $seeds-yellow;
            display: block;
            width: 100%;
            border-radius: 0;
            margin-top: 25px;
        }
    }
    #login-box-bottom {
        text-align: center;
        a {
            color: #fff;
        }
    }
}

// Fix layout builder to work with Bootstrap theme.
.modal-open {
    overflow-y: scroll;
}

#drupal-off-canvas {
  top: 0 !important;
  .modal-dialog {
      margin: 0;
      width: auto;
  }
  select {
      -webkit-appearance: none;
      -moz-appearance: none;
  }
  .ui-dialog-off-canvas {
      overflow: scroll;
  }
  a {
      color: #ccc;
  }
  .glyphicon {
      display: none;
  }
  *,
  *:not(div) {
      background: #333333;
  }
  .ui-resizable-s {
      display: none !important;
  }
  button.button {
    position: relative;
    height: auto;
    padding: 4px 20px;
    border: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: background 0.5s ease;
    background: $seeds-green;
    color: #fff;
    margin-top: 15px;
    display: block;
    width: 100%;
    &:hover,
    &:focus {
        background: $seeds-yellow;
        color: #fff;
    }
  }
}
