// Elemenets
body {
    margin-top: 0px;
}

// Blocks.
.logo {
    width: 80px;
    margin: 15px 0px;
}

.navbar-toggle {
    width: 45px;
    height: 45px;
    padding: 8px 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    border: 0;
    .icon-bar {
        display: block;
        position: absolute;
        left: 13px;
        height: 1px;
        margin: 0;
        width: 18px;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(2) {
            top: 15px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 22px;
            transition: opacity .25s ease-in-out;
        }
        &:nth-child(4) {
            top: 29px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
    }
    &[aria-expanded="true"] {
        .icon-bar {
            &:nth-child(2) {
                top: 16px;
                left: 15px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                opacity: 0;
            }
            &:nth-child(4) {
                top: 29px;
                left: 15px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
    &:focus,
    &:hover {
        background-color: transparent;
    }
}

// Layouts
header.navbar-default {
    border: 0;
    background-color: $seeds-green;
    .navbar-brand {
        font-size: 30px;
        line-height: 65px;
        color: white;
        font-weight: normal;
        text-transform: uppercase;
        @media(max-width: 767px) {
            font-size: 26px;
            line-height: 50px;
        }
    }
}

.footer {
    background: #474c55;
    color: #fff;
}

.user-login {
  background: $seeds-green;
}
