/* --- Sprintive Identity on admin --- */
/* --- Adminimal menu --- */
body.adminimal-menu div#admin-menu a:hover {
	background-color: #73A333;
}

body.adminimal-menu #admin-menu .dropdown li li li:hover,
body.adminimal-menu #admin-menu .dropdown li:hover {
	background: #73A333 !important;
}

body.adminimal-menu #admin-menu .dropdown li.admin-menu-toolbar-category a:focus {
	background: #73A333;
}

body.adminimal-menu #admin-menu #admin-menu-wrapper .dropdown li li.expandable:hover {
	background: url("../images/square.png") no-repeat scroll 145px -83px #73A333 !important;
}

body.adminimal-menu div.shortcut-toolbar div#toolbar a#edit-shortcuts:focus {
	background: #73A333;
}

body.adminimal-menu #admin-menu .dropdown li ul {
	border-top: 3px solid #73A333;
}

body.adminimal-menu #admin-menu .dropdown li.admin-menu-action.admin-menu-users a:hover {
	background: #73A333;
}

body.adminimal-menu #admin-menu #admin-menu-wrapper div#toolbar div.toolbar-shortcuts ul li a:hover {
	background-color: #73A333;
}

body.adminimal-menu div#admin-menu {
	background: #333740;
	border-bottom: 5px solid #73A333;
}
/* --- IPE --- */
div#panels-ipe-control-container {
	background: #333740;
}

div.panels-ipe-pseudobutton-container, 
div.panels-ipe-control .form-submit {
	background: #73A333;
}

div.panels-ipe-pseudobutton-container a {
	color: #FFF;
}
div.panels-ipe-pseudobutton-container:hover,
div.panels-ipe-control .form-submit:hover,
div.panels-ipe-pseudobutton-container:focus,
div.panels-ipe-control .form-submit:focus {
	background: #50820d;
}

div.panels-ipe-pseudobutton-container a.panels-ipe-startedit {
	background-image: url(../images/icon-configure.png);
}

div.panels-ipe-pseudobutton-container a.panels-ipe-change-layout {
	background-image: url(../images/icon-change-layout.png);
}


// Panels IPE Fixes.

#modalContent  #modal-content {
	overflow: scroll;
}

#modalContent .modal-content {
	border-radius: 0px;
	overflow: scroll;
}

#modalContent .modal-content .modal-header {
	background: #73A333;
	color: #FFF;
}

#modalContent .modal-content .modal-content {

}
#modalContent .modal-content .panels-add-content-modal {
	overflow: hidden;
	background: none;
	padding-top: 0px;
}

#modalContent .modal-content .panels-add-content-modal .panels-section-column-categories {
	background: #F5F5F5;
}

.panels-section-column .content-type-button img {
	display: inline-block;
}

.panels-section-column .content-type-button div, .panels-section-column .content-type-button span {
    width: auto;
    top: auto;
    display: inline-block;
    line-height: 23px;
}
