/* line 4, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal .toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url("../images/seeds.svg");
  width: 25px;
}
/* line 9, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal .toolbar-icon-admin-toolbar-tools-help:hover:before {
  background-image: url("../images/seeds-white.svg");
}
/* line 15, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal a:active, .seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal a:hover, .seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal a:focus {
  background: #74a333;
  color: #fff !important;
}
/* line 22, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul {
  box-shadow: none;
}
/* line 27, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded:hover > a {
  background: #74a333;
}
/* line 31, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded:hover .toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url("../images/seeds-white.svg");
}
/* line 37, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded > .toolbar-box > a {
  background: #74a333;
}
/* line 43, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item:first-child {
  border-top: 1px solid #74a333;
}
/* line 47, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after {
  content: url(../images/chevron-right.svg);
  width: 15px;
  height: 15px;
}
/* line 53, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:hover:after {
  content: url(../images/white-chevron-right.svg);
}
/* line 64, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal .toolbar-menu ul,
.seeds-toolbar.toolbar-fixed .toolbar-tray-horizontal .toolbar-menu .toolbar-handle {
  box-shadow: none;
}
/* line 71, ../scss/seeds_toolbar.scss */
.seeds-toolbar.toolbar-fixed .toolbar-tray-vertical .toolbar-menu ul {
  box-shadow: none;
}
