header.navbar-default {
  background-color: none;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #74a333;
}
header.navbar-default .navbar-brand {
  font-size: 45px;
  line-height: 65px;
}
@media (max-width: 767px) {
  header.navbar-default .navbar-brand {
    font-size: 30px;
    line-height: 50px;
  }
}
header.navbar-default .logo {
  width: 80px;
}
header.navbar-default .navbar-toggle {
  width: 45px;
  height: 45px;
  padding: 8px 15px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: 0;
}
header.navbar-default .navbar-toggle .icon-bar {
  display: block;
  position: absolute;
  left: 13px;
  height: 1px;
  margin: 0;
  width: 18px;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header.navbar-default .navbar-toggle .icon-bar:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
header.navbar-default .navbar-toggle .icon-bar:nth-child(3) {
  top: 22px;
  transition: opacity 0.25s ease-in-out;
}
header.navbar-default .navbar-toggle .icon-bar:nth-child(4) {
  top: 29px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
header.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  top: 16px;
  left: 15px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
  opacity: 0;
}
header.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(4) {
  top: 29px;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header.navbar-default .navbar-toggle:focus,
header.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.footer {
  background: #474c55;
  color: #fff;
}
