.media-library-edit__link {
    background-image: url(/profiles/contrib/seeds/modules/custom/seeds_pollination/assets/images/pencil.svg) !important;
    left: 10px;
    right: auto;
    border-radius: 50%;
    padding: 0;
    z-index: 1;
    background-position: center center !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    width: 38px;
    height: 38px;
    border: 0;
    outline: 0;
    top: 10px;
    margin: 5px;
    position: absolute;
    border-radius: 50%;
    font-size: 0;
    background-color: #00AAFF;
    color: white;
}