.permissions-section {
  margin-bottom: 15px;

  .permissions-header {
    display: flex;
    background-color: white;
    border: 1px solid black;
    align-items: center;
    cursor: pointer;
  }

  .permissions-tools {
    margin-left: auto;
    padding: 0 6px;
    display: flex;
  }

  .permissions-collapse {
    cursor: pointer;
    background: none;
    border: 0;
  }

  .permissions-collapsable {
    display: none;

    &.visible {
      display: block;
    }
  }

  ~h2 {
    margin-top: 30px;
  }

  .form-item.danger label {
    color: red;
  }
}


[dir='rtl'] .permissions-section {
  .permissions-tools {
    margin-left: 0;
    margin-right: auto;
  }
}
