.seeds-shell img {
  max-width: 100%;
  height: auto;
}

.seeds-shell h1.page-title {
  font-weight: 400;
  color: #a1cc5c;
}

.seeds-shell .content-header {
  background-color: #333;
  padding: 2.5rem 0 0;
}

.seeds-shell .breadcrumb {
  padding: 0px;
  margin-bottom: 30px;
}

.seeds-shell .breadcrumb ol {
  background: #fff;
  margin-left: -2.0rem;
  margin-right: -2.0rem;
  padding: 10px 2.0rem;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

[dir="rtl"] .seeds-shell .breadcrumb ol {
  margin-right: -2.0rem;
}

.seeds-shell a,
.seeds-shell .link {
  color: #5ea304;
  text-decoration: none;
}

.seeds-shell .panel {
  background: #fbf9f6;
  border: 1px solid #e5e5e5;
}

.seeds-shell .admin-list li {
  border-top: 1px solid #e5e5e5;
}

input[type=checkbox]:checked,
input[type=checkbox]:disabled:checked,
input[type=radio]:checked,
input[type=radio]:disabled:checked {
  background: #73a341;
}

.seeds-shell .button--primary {
  background: #73a333;
  border-color: #5c8e23;
}

.seeds-shell.adminimal .action-links .button--primary:hover,
.seeds-shell.adminimal .action-links .button--primary:focus {
  background-color: #73a333;
}

.js .seeds-shell .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .seeds-shell .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {
  background: #5ea304;
}

.js .seeds-shell .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .seeds-shell .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background: #5ea304;
}

.seeds-shell input.form-autocomplete,
.seeds-shell input.form-text,
.seeds-shell input.form-tel,
.seeds-shell input.form-email,
.seeds-shell input.form-url,
.seeds-shell input.form-search,
.seeds-shell input.form-number,
.seeds-shell input.form-color,
.seeds-shell input.form-file,
.seeds-shell input.form-date,
.seeds-shell input.form-time,
.seeds-shell textarea.form-textarea {
  padding: .4em .4em .4em .5em;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.adminimal .form-text:focus,
.adminimal .form-tel:focus,
.adminimal .form-email:focus,
.adminimal .form-url:focus,
.adminimal .form-search:focus,
.adminimal .form-number:focus,
.adminimal .form-color:focus,
.adminimal .form-file:focus,
.adminimal .form-textarea:focus,
.adminimal .form-date:focus,
.adminimal .form-time:focus {
  border-color: #a1cc5c;
  box-shadow: none;
}

.seeds-shell .button:hover,
.seeds-shell .button:focus {
  border-color: #5c8e23;
}

.js .seeds-shell .form-actions .dropbutton-multiple .dropbutton-widget {
  background-color: #73a333;
  border-color: #5c8e23;
}

.seeds-shell .action-links .button--primary {
  color: #73a333;
  border: 2px solid #73a333;
}

.js .seeds-shell .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  background-image: linear-gradient(to bottom, #73a333, #5c8e23);
}

.seeds-shell .form-actions .dropbutton-multiple.open .dropbutton-widget {
  background-image: linear-gradient(to bottom, #73a333, #5c8e23);
}

/* --- Ckeditor --- */
.seeds-shell .cke_chrome {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.seeds-shell .cke_top {
  background: #f5f5f5;
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #e5e5e5;;
}

.seeds-shell .cke_bottom {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.seeds-shell .cke_toolgroup {
  background: none;
  box-shadow: none;
  border: 1px solid #e5e5e5;
}

.seeds-shell .filter-wrapper {
  background: transparent;
  border: 0;
  padding: 0.5em 0;
}

[dir="rtl"] .cke_toolbar {
  float: right;
}

.seeds-shell a.cke_combo_button {
  background: none;
  box-shadow: none !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 0;
  cursor: pointer;
}

.seeds-shell .cke_toolbar_separator {
  background-color: #e5e5e5;
  margin-top: 4px;
}

.seeds-shell a.cke_button_off:hover,
.seeds-shell a.cke_button_off:focus,
.seeds-shell a.cke_button_off:active,
.seeds-shell a.cke_button_disabled:hover,
.seeds-shell a.cke_button_disabled:focus,
.seeds-shell a.cke_button_disabled:active {
  box-shadow: none !important;
  background: #fff !important;
}
.seeds-shell .cke_combo_on a.cke_combo_button:active,
.seeds-shell .cke_combo_on a.cke_combo_button.active,
.seeds-shell .cke_combo_on a.cke_combo_button:hover,
.seeds-shell .cke_combo_on a.cke_combo_button:focus,
.seeds-shell .cke_combo_off a.cke_combo_button:active,
.seeds-shell .cke_combo_off a.cke_combo_button.active,
.seeds-shell .cke_combo_off a.cke_combo_button:hover,
.seeds-shell .cke_combo_off a.cke_combo_button:focus {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}

/* ----- Node ----- */
body.seeds-shell.path-node {
  background: #fbf9f6;
}

.seeds-shell .field--name-title input.form-text {
  padding: 3px 8px;
  font-size: 1.4em;
  line-height: 100%;
  height: 2em;
  width: 100%;
  outline: 0;
  margin: 0;
  background-color: #fff;
}

.seeds-shell.path-node .field--name-title .form-item {
  margin-top: 0px;
  margin-bottom: 30px;
}

.seeds-shell.path-node .admin-list li {
  border-top: 0px;
  background: #fff;
  margin-bottom: 1em;
}

.seeds-shell.path-node details {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
  line-height: 1.4;
}

.seeds-shell.path-node .entity-meta__header {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
  background: #fff;
  line-height: 1.4;
}

.seeds-shell.path-node .entity-meta {
  background: none;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}

.seeds-shell.path-node .entity-meta details {
  margin-top: 1em;
  margin-bottom: 1em;
}

.seeds-shell.path-node details > summary {
  padding: 0.85em 1.25em;
}
