.thunder-seeds {
    .field--widget-entity-reference-paragraphs {
        // Add more buttons.
        [dir="rtl"] & {
            .paragraph-type-add-modal.first-button {
                margin-right: -29px;
                margin-left: 0;
            }
            .clearfix>.paragraph-type-add-modal.first-button {
                margin-right: 0;
            }
        }
        .field-multiple-table--paragraphs--deprecated {
            &>tbody>tr {
                border-bottom-color: $primary-color-lightest;
                @media screen and (max-width: 600px) {
                    border-bottom-color: $primary-color-lightest;
                }
            }
            [dir="rtl"] & {
                .paragraph-form-item--has-subform {
                    .paragraph-type-add-modal.first-button {
                        margin-left: 0;
                        margin-right: -19px;
                    }
                }
            }
        }
    }
}