/**
 * @file
 * Import and override details.css provided by seven/global-styling.
 */

.thunder-seeds {
  .seven-details,
  .details {
    background-color: #fff;
    border-color: $gray-lighter;
    border-radius: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0px 0px 10px 0px;
    &.horizontal-tabs-pane {
      border: 0;
      margin: 0px;
    }
    &.vertical-tabs__pane {
      background: #F5F5F5;
    }
    &[open] {
      >.seven-details__summary {
        color: $primary-color-darker;
      }
    }
  }
  .seven-details__summary,
  summary {
    cursor: pointer;
    text-shadow: 0 1px 0 white;
    color: $primary-color-dark;
    &:hover,
    &:focus {
      color: $primary-color-darker;
    }
  }
  .seven-details__wrapper,
  .details-wrapper {
    padding: 0 1.5em 1em 1.5em;
  }
  .system-modules td details {
    height: auto;
    overflow: visible;
    white-space: normal;
  }
}