.thunder-seeds {
    .ui-dialog {
        .ui-dialog-titlebar {
            background: $primary-color-darker;
            border: 0px;
            border-radius: 0;
        }
        .ui-dialog-title {
            &:before {
                content: "";
                background: $primary-color-intense;
                [dir="rtl"] & {
                    margin-left: 5px;
                    margin-right: 0;
                }
            }
        }
        .ui-widget-content.ui-dialog-content {
            background: $gray-lightest;
            border: 0px;
            border-radius: 0;
        }
    }
}