.thunder-seeds {
    .js & {
        .dropbutton .dropbutton-action>input,
        .dropbutton .dropbutton-action>a,
        .dropbutton .dropbutton-action>button {
            color: $primary-color;
        }
        .dropbutton-multiple .dropbutton-widget {
            border: 1px solid $primary-color-intense;
            background-image: linear-gradient(0deg, $primary-color-lightest 0%, $gray-lightest 100%);
            border-radius: 0;
        }
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
            background-image: linear-gradient(180deg, $primary-color-lightest 0%, $gray-lightest 100%);
            color: $primary-color;
        }
        .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
        .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
            background-image: linear-gradient(180deg, $primary-color-lightest 0%, $gray-lightest 100%);
            color: $primary-color;
        }
        .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
            background-image: linear-gradient(180deg, $primary-color-lightest 0%, $gray-lightest 100%);
        }
        .form-actions .dropbutton-widget {
            border-color: $primary-color-intense;
            background-color: $primary-color;
            background-image: linear-gradient(180deg, $primary-color-intense 0%, $primary-color 100%);
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {
            background-color: $primary-color-intense;
            background-image: linear-gradient(0deg, $primary-color-intense 0%, $primary-color 100%);
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:active {
            background-image: linear-gradient(0deg, $primary-color-intense 0%, $primary-color 100%);
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
            background-image: linear-gradient(180deg, $primary-color-intense 0%, $primary-color 100%);
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
            background-color: $primary-color-intense;
            background-image: linear-gradient(0deg, $primary-color-intense 0%, $primary-color 100%);
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
            background-color: $primary-color-intense;
            background-image: linear-gradient(0deg, $primary-color-intense 0%, $primary-color 100%);
            border-color: $primary-color;
        }
        .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
            border-color: $primary-color-intense;
        }
    }
    .dropbutton-single .dropbutton-action a {
        background-image: linear-gradient(0deg, $primary-color-lightest 0%, $gray-lightest 100%);
        color: $primary-color;
    }
    .dropbutton-single .dropbutton-action a:hover,
    .dropbutton-single .dropbutton-action a:focus {
        background-image: linear-gradient(180deg, $primary-color-lightest 0%, $gray-lightest 100%);
        color: $primary-color;
    }
    .dropbutton-single .dropbutton-action a:active {
        background-image: linear-gradient(180deg, $primary-color-lightest 0%, $gray-lightest 100%);
    }
    .dropbutton-arrow {
        border-top-color: $primary-color;
    }
    .dropbutton-multiple.open .dropbutton-arrow {
        border-bottom: 0.3333em solid $primary-color;
    }
    .form-actions .dropbutton-multiple.open .dropbutton-widget {
        background-image: linear-gradient(180deg, $primary-color-intense 0%, $primary-color 100%);
    }
    .form-actions .dropbutton .secondary-action {
        border-color: $primary-color-intense;
    }
}