[dir="rtl"] label {
  margin: 0 0.3em 0 0;
}

.thunder-seeds {
  input.form-autocomplete,
  input.form-text,
  input.form-tel,
  input.form-email,
  input.form-url,
  input.form-search,
  input.form-number,
  input.form-color,
  input.form-file,
  input.form-date,
  input.form-time,
  textarea.form-textarea {
    border-color: #e6e6e6;
    color: $text-color;
    border-radius: 0;
  }
  .content-form__main>details,
  fieldset:not(.fieldgroup) {
    background-color: transparent;
    border-radius: 2px;
    margin: 1em 0;
    padding: 30px 18px 18px;
    min-width: 0;
    position: relative;
  }
  select {
    border-radius: 0;
    min-width: 200px;
  }
}