.thunder-seeds {
  .system-modules tr.even,
  .system-modules tr.odd,
  .locale-translation-status-form tr.even,
  .locale-translation-status-form tr.odd {
    background: white;
    border-bottom: 10px solid #f2f2f2;
  }
  .system-modules .checkbox .form-item {
    padding: 0px 15px;
  }
}